[submodule "frontend"]
	path = frontend
	url = git@github.com:douglascvas/biblicando-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:douglascvas/biblicando-backend.git
[submodule "deployment"]
	path = deployment
	url = git@github.com:douglascvas/biblicando-deployment.git
[submodule "deployment/roles/docker"]
	path = deployment/roles/docker
	url = git@github.com:douglascvas/docker.ubuntu.git
[submodule "deployment/roles/nvm"]
	path = deployment/roles/nvm
	url = https://github.com/douglascvas/ansible-role-nvm.git
